<h1>Items</h1>
<div class="container-item1">
<% @items.each do |item| %>
	<div class="container-item0">	
	  <ul>
	  	<p>
	  	<%= item.nombre %>
	  	<p>
	  	<%= image_tag item.foto.url(:medium) %>
	  	<p>
		<a href=<%= item_path(item)%> >Mostrar</a>
		|
		<a href=<%= edit_item_path(item)%> >Editar</a>
		| <%= link_to 'Destroy', item_path(item),method: :delete, data: { confirm: 'Are you sure?' } %>
	  </ul>
	</div>
<% end %>
</div>